body {
    margin: 0;
    font-family: 'Franklin Gothic Normal', 'Arial Narrow', Arial, sans-serif;
}

.smol {
    font-size: small;
}

p {
    margin-top: 2px;
    margin-bottom: 2px;
}

#selected-theme-info {
    margin-bottom: 10px;
}

#theme_container {
    margin-top: 10px;
    margin-bottom: 10px;
}

#theme_input {
    width: 30em;
}

main {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    padding-left: 10px;
    padding-right: 5vh;
}

#main_left {
    margin-top: 5vh;
}

#main_left h1 {
    margin-top: 0;
}

#canvas_container {
  display: flex;
  align-items: center;
  justify-content: right;
  align-self: center
}
