body {
    margin: 0;
    font-family: 'Franklin Gothic Normal', 'Arial Narrow', Arial, sans-serif;
}

.smol {
    font-size: small;
}

p {
    margin-top: 2px;
    margin-bottom: 2px;
}

#selected-theme-info {
    margin-bottom: 10px;
}

#theme_container {
    margin-top: 10px;
    margin-bottom: 10px;
}

#theme_input {
    width: 30em;
}

main {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    padding-right: 5vh;
}

#main_left {
    display: flex;
}

#main_left h1 {
    margin-top: 0;
}

#nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #80808022;
    width: 100px;
    margin-right: 50px;
    border-radius: 0px 50px 50px 0px;
}

#nav_top :first-child {
    border-radius: 0px 50px 0px 0px;
}

#nav_bottom :last-child {
    border-radius: 0px 0px 50px 0px;
}

.tab_content {
    margin-top: 5vh;
    display: none;
}

.tab_content.selected {
    display: block;
}

.tab {
    background-color: #80808022;
    transition-timing-function: cubic-bezier(0.68,-0.55,0.27,1.55);
    height: 100px;
    width: 100px;
    border: none;
    border-right: 0px solid transparent;
    color: #bebd78;
    transition: background-color 500ms, border-right 500ms, color 500ms;
}

.tab.selected {
    background-color: #86933edd;
    border-right: 10px solid #b1b15299;
    color: #ffffff;
}

#editor_container {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

#titles {
    flex: 1;
}

#inputs {
    display: flex;
    flex-direction: column;
    gap: 2px;
    overflow: overlay;
    flex: 4;
}

#inputs>div {
    flex: 1;
    overflow: overlay;
    padding-right: 10px;
}

.color_input {
    display: flex;
    gap: 5px;
}

input[type=color] {
    border: none;
    outline: none;
    background-color: transparent;
    clip-path: circle(9px at center);
    height: 30px;
    padding: 0;
    margin-top: -5px;
    width: 25px;
    cursor: pointer;
}

#canvas_container {
  display: flex;
  align-items: center;
  justify-content: right;
  align-self: center
}

@media (prefers-color-scheme: light) {
    .tab {
        color: #000000;
    }
}